/* styles.css */
body {
    margin: 0  60px ;
    padding: 0;
    font-family: Arial, sans-serif;
    
    
}
  
  .header {
    margin: 10px 50px;
    border: solid 3px rgba(173, 187, 196, 0.623);
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f5f5f5;
    padding: 20px 20px;
  }
  
  .logo img {
    height: 40px;
  }
  
  .navbar {
    display: flex;
    align-items: center;
  }
  
  .navbar > a, .dropdown > a {
    margin: 0 15px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .navbar > a:hover, .dropdown > a:hover {
    background-color: #eaf4ff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 10px;
  }
  
  .dropdown-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 0.9em;
    padding: 5px;
    border-radius: 3px;
    margin: 5px 0;
  }
  
  .dropdown-menu a:hover {
    background-color: #eaf4ff;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .lang-search {
    display: flex;
    align-items: center;
  }
  
  .search-bar {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .lang-btn {
    background: none;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  
  .lang-btn:hover {
    background-color: #eaf4ff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  

h1 {
    width: 50%;
    margin: 50px  ;
    padding: 20px 0;
    font-size: 4em;
    color: #333;
  }
  


  /*  met une image de font pour l'id accueil */

    #accueil {
        /* make it space between */
        display: flex;
        justify-content: space-between;
     

        flex-direction: column;
        display: flex;
        background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
        background-size: cover;
        background-position: center;
        
        
        color: #fff;
        text-align: start;
    }


    #accueil p {

        border-radius: 10px;
        border: solid 3px rgb(44, 136, 217);
        background-color:rgb(213, 231, 247);
        padding: 50px;
        font-size: 1em;
        margin: 0;
    }

    section {
        margin: 0px 50px;
        border-radius: 10px;
        height: 80vh;
        padding: 20px;
        margin: 50px 0;

    }