.services {
    text-align: center;
    padding: 40px 20px;
}

.services-title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    position: relative;
    display: inline-block;
}

.services-title::after {
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background-color: #444;
    margin: 10px auto 0;
}

.services > div{
    height: 70%;
}
.services-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.service-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 280px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service-card h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 15px 0;
}

.service-card p {
    font-size: 14px;
    color: #666;
}

.service-icon {
    width: 80%;
    height: 40%;
    margin: 0 auto 15px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-icon::before {
    content: "\1F5BC"; /* Emoji for image icon */
    font-size: 24px;
    color: #bbb;
}